# Node
node_modules/

# Distribution
build/*
resources/*

# Secrets
client_secret.json
.env

# Emu stuff
/emu-rom
sixtyforce.app
Super-Mario_64.z64

# macOS BS..
.DH_store
.DS_store

# Intellij BS..
.idea
.DS_Store
